@mixin nav-buttons-normal {
  display: block;
  font-family: $font-titles;
  font-weight: 600;
  font-size: 1.25rem;
  color: $cloud_white;
  background-color: $nav-btn-bg-normal;
  padding: 0.5rem 0.8rem;
}

@mixin nav-buttons-white-bg {
  padding: 0.2rem 0.4rem;
  color: $cloud_white;
  background-color: transparent;
}

@mixin nav-buttons-white-bg-hover {
  color: $cloud_white;
  background-color: $nav-btn-bg-extra;
}

@mixin nav-buttons-non-white-bg {
  padding: 0.2rem 0.4rem;
  color: $cloud_white;
  background-color: $nav-btn-bg-extra;
}

@mixin nav-buttons-non-white-bg-hover {
  color: $text;
  background-color: $nav-btn-bg-extra;
}

@mixin button-yellow {
  @include nav-buttons-normal;
  background-color: $yellow-transparent;
  color: black;
  font-weight: bold;
}
