$nav-btn-bg-hover: rgba(0, 0, 0, .75);
$nav-btn-bg-normal: rgba(0, 0, 0, .5);

$nav-btn-bg-extra: rgba(255, 255, 255, 0.4);

$text: rgb(7, 7, 7);

$yellow-transparent: rgba(238,224,72, .8);
$yellow: rgb(238,224,72);
