/*
Author: Nikolaos Rafail Nikolouzos
Author URI: https://nnikolouzos.xyz
Description: This is the main CSS for Nikoalos Rafail Nikolouzos' website: "nnikolouzos.xyz". It contains the styling as well as the layout of the main website.
Version: 1.0
Date Created: 02/18/2018
*/

//  Variables
$font-titles: "Josefin Slab";
$font-text: "Open Sans";
$code-font: "Fira Code";
$nav-btn-bg-active: black;
$text-primary: #212121;
$yellow: #EEE048;

//  Partials
@import "_normalize.scss";
@import "_mixins.scss";

// General Rules
body,
html {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;

  font-size: 1rem;
  font-family: $font-text;
  color: $text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead {
    font-family: $font-titles;
    font-size: 2em;
}

a {
    text-decoration: none;
}

// Main styling
#main {
  display: table-cell;
  vertical-align: middle;

  font-weight: 300;
  background-color: $text-primary;
  color: white;

  #text {
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;

    p {
      font-size: 1.3rem;
    }

    span {
      font-weight: 700;
      color: $yellow;
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: 300;
    text-align: right;
    font-style: italic;
  }
}
