@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
$white: rgb(249, 249, 249);
$darker-white: rgb(245, 245, 245);
$green1: rgb(92, 184, 92);
$green1-hover: rgb(103, 201, 103);
$green2: rgb(0, 255, 131);
$red: rgb(255, 59, 63);
$grey: rgb(44, 47, 51);
$dark-grey: rgb(33, 33, 33);
$light-blue: rgb(98, 159, 237);
$med-blue: rgb(48, 118, 255);
$dark-blue: rgb(33, 93, 155);

// Basic styles
body,
html {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: $white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $med-blue;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a[href^="tel:"] {
  color: $white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

// Utility Classes
.content {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.btn {
  display: block;
  background-color: $green1;
  color: $white;
  border-radius: .25rem;
  padding: .65rem 2rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: background-color 700ms;
}

.btn:hover {
  background-color: $green1-hover;
}

.btn-secondary {
  background-color: $med-blue;
}

.btn-secondary:hover {
  background-color: $light-blue;
}

.left {
  text-align: left;
}

#hamburger-menu.hamburger-shown {
  display: initial;
}

// Animation classes
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}



@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

// Phones & Menu
#menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: $white;
  background: $dark-grey;
}

#menu {
  display: flex;
  align-items: center;
}

#menu p {
  margin: 0;
  padding-left: 1rem;
}

#phones {
  display: flex;
  margin: 0;
  padding: 1rem;
}

#phones li:nth-of-type(2) {
  padding-left: 1rem;
}

#phones i {
  color: $green1;
}

#hamburger-menu-btn {
  height: inherit;
  margin: 0 auto;
  margin-right: 0;
  padding-right: 1.5rem;
  cursor: pointer;
}

// Hamburger Menu
#hamburger-menu {
  display: none;

  ul {
    margin: 0;
    padding: 0;
    padding: 0 2rem;
    line-height: 2;

    li {
      padding-left: .5rem;
      border-bottom: 1px solid $grey;
      cursor: pointer;
      transition: background-color 300ms ease-in-out;
    }

    li:last-child {
      margin-bottom: .6rem;
    }

    li:hover {
      background-color: $grey;
    }
  }
}

// Showcase
#showcase {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url('../assets/showcase.jpg') no-repeat bottom/cover;
  overflow: hidden;
  color: $white;
}

#logo {
  filter: $med-blue;
  max-width: 200px;
}

#showcase .content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}

#showcase .content h1 {
  font-size: 2.5rem;
}

#showcase .content h2 {
  font-size: 1.2rem;
}

#showcase .content img {
  mix-blend-mode: screen;
}

#showcase .btn {
  display: inline-block;
  margin-top: 1rem;
}

// Cleaning
#cleaning h2 {
  margin-top: 5rem;
}

#cleaning .content {
  padding: 0 1rem;
}

#cleaning section h2 {
  color: $dark-grey;
  margin-top: 2rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid $dark-grey;
}

.cleaning-section img {
  height: 15rem;
  border-radius: .2rem;
}

#cleaning .grid-3 section {
  margin-bottom: 5rem;
}

// Offers

#offers {
  background: linear-gradient(to bottom right, $light-blue 10%, $med-blue 55%, $dark-blue 85%);
  padding: 4rem 0;
}

#offers .content {
  background: $white;
  border-radius: .2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  padding: 1rem;
}

#offers h2 {
  display: inline-block;
  padding: .25rem 2rem;
  color: $dark-blue;
  font-weight: 700;
  border-bottom: 2px solid $dark-blue;
}

#offers p {
  margin-top: 0;
  margin-bottom: 2rem;
}

#offers .grid-3 div {
  background: $darker-white;
  border-radius: .2rem;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, .6);
  padding: 1rem;
  margin: 1rem;
  transition: transform 500ms;
}

#offers .grid-3 div:hover {
  transform: scale(1.05)
}

// Contact

#contact {
  background: $dark-grey;
  color: $white;
}

#contact .grid-2 {
  align-items: center;
}

#contact>.grid-2 div:first-of-type {
  justify-self: center;
}

#contact .grid-2-full {
  grid-column: 1 / 3;
}

#contact img {
  display: block;
  max-height: 75vh;
}

#contact-details .grid-2 {
  margin: 0 2rem;
}

#contact-details h2 {
  text-align: center;
  color: $green1;
  font-size: 1.5rem;
  padding-bottom: .5rem;
  margin: .5rem;
  border-bottom: 1px solid $grey;
}

#contact-details h3 {
  justify-self: center;
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

#contact-details div:first-of-type p {
  line-height: 2;
}

// Contact Form
#contact-form {
  margin: 2rem 0;
}

#contact-form * {
  box-sizing: border-box;
}

#contact-form h3 {
  margin-top: 2rem;
}

#contact-form label {
  display: block;
}

#contact-form input,
#contact-form button,
#contact-form textarea {
  width: 100%;
  margin: 0;
  padding: .5rem;
  border: 0;
  border-radius: .2rem;
  transition: background-color 500ms ease-out;
  outline: none;
}

#contact-form input:focus,
#contact-form textarea:focus {
  background: $darker-white;
  border: 1px solid $green2;
}

#contact-form p:last-of-type {
  justify-self: center;
}

#contact-form button {
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

#contact-form textarea {
  resize: none;
}

.form-result {
  display: none;
  text-align: center;
  background: $grey;
  padding: .5rem;
  color: $darker-white;
}

.form-result.good {
  display: block;
  background: $green1;
}

.form-result.bad {
  display: block;
  background: $red;
}

// Footer
#footer {
  padding: 1rem;
  background-color: $grey;
}

#footer span {
  color: $white;
}

#footer p {
  display: inline;
  margin: 0;
  color: $white;
  font-size: .75rem;
}

// Offer popup styling

#offer-popup {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, .4);
}

#offer-popup .content {
  position: absolute;
  top: 15%;
  max-height: 70vh;
  overflow: auto;
  border-radius: .2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .65);
  background: $darker-white;
  padding: 1rem 4rem 4rem 4rem;
  margin: 0 10vw;
}

#offer-popup h2 {
  padding-bottom: .5rem;
  border-bottom: 2px solid $dark-grey;
}

#offer-popup .btn {
  display: inline-block;
  margin-top: 1rem;
}

#offer-popup .fas {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 250ms ease-in, color 250ms;
}

#offer-popup .fas:hover {
  transform: scale(1.45);
  color: $grey;
}


@media(max-width: 680px) {

  #menu p {
    display: none;
  }

  #phones {
    width: 100%;
    justify-content: center;
  }

  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }

  #showcase {
    height: 75vh;
  }

  #showcase .content {
    max-width: 90%;
    top: 15%;
  }

  #showcase .content h1 {
    font-size: 1.9rem;
  }

  #showcase .content h2 {
    font-size: 1rem;
  }

  #logo {
    display: none;
  }

  #offers {
    padding: 0;
  }

  #offers .content {
    border-radius: 0;
    box-shadow: 0;
  }

  #contact-form p {
    grid-column: 1 / 3;
  }

  #footer span {
    display: none;
  }

  #footer p {
    display: block;
  }
}

@media(max-height: 700px) {
  #showcase {
    height: 100vh;
  }

  #showcase .content {
    top: 25%;
  }

  #showcase .content h1 {
    font-size: 1.8rem;
  }

  #showcase .content h2 {
    font-size: .95rem;
  }

  #showcase .btn {
    margin-top: .5rem;
  }

  #logo {
    display: none;
  }
}